transformers>=4.6.0,<5.0.0
tokenizers>=0.10.3
tqdm
torch>=2.7.1
torchvision
numpy
scikit-learn
scipy
nltk
sentencepiece
huggingface-hub
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
