transformers>=4.6.0,<5.0.0
tokenizers>=0.10.3
tqdm
torch>=2.9.0
torchvision
numpy
scikit-learn
scipy
nltk
sentencepiece
huggingface-hub
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
